@import 'reset';
.container{    
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
}
.gallery{
    text-align: center;
    padding-top: 30px;
    &_title{
        font-size: 40px;
        margin: 50px 0;        
    }
    &_list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 20px;
        &_item{
            max-width: 600px;
            &_img{
                border-radius: 20px;
                box-shadow: 3px 5px 10px #000;
                transition: all .2s ease;
                transform: scale(1);
                max-width: 600px;
                height: auto;
                object-fit: cover;
                &:hover{
                    transition: all .2s ease;
                    transform: scale(1.03);
                }
                
            }
        }
    }
}